body {
	background-size: cover;
	color: #ffffff;
	font-family: 'Courier New', monospace;
	font-weight: lighter;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background: #101214;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.result {
	margin-left: 80px;
	margin-bottom: 15px;
	width: 250px;
	height: 70px;
	background: #3b4248;
	border-radius: 15px;
	text-align: right;
	font-size: 2rem;
	font-weight: bold;
	padding-right: 10px;
	color: #00ace2;
}

.my-btn {
	width: 60px;
	height: 60px;
	background: #101214;
	margin: 5px;
	cursor: pointer;
	font-size: 1.5rem;
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 5px;
}

.my-btn:hover {
	color: #00ace2;
}

.my-btn.primary {
	background: #00ace2;
	border: none;
}
.my-btn.primary:hover {
	background: #4ac0f2;
	color: #ffffff;
}

.my-btn.secondary {
	background: #101214;
}
.my-btn.secondary:hover {
	background: #00ace2;
	color: #fff;
	border: 1px solid #00ace2;
}
.my-btn.execute {
	width: 140px;
}

.footer {
	margin-top: 20px;
	font-size: 1rem;
}

.dropdown {
	margin-top: 10px;
}

.highlight mark {
	background-color: #00ace2;
}
.dark-theme {
	background: #000;
}
.alt-result-color {
	background-color: #00ace2;
	color: #fff;
}
