.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.carousel-inner img {
	width: 100px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.card {
	border-radius: 15px;
	width: 400px;
}

.btn-group {
	display: flex;
	justify-content: center;
	gap: 10px;
}
